<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mayoo.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/register_label" />
        <activity
            android:name=".Home"
            android:label="@string/home_label" />
        <activity
            android:name=".Record"
            android:label="@string/records_label" />

        <activity
            android:name=".ChildRegister"
            android:label="@string/new_record_label">
        </activity>

        <activity android:name=".ChildRecord"
            android:label="@string/child_record_label"
            >
        </activity>

        <activity android:name=".Safety"
            android:label="@string/safety_label" />

        <activity android:name=".About"
            android:label="@string/about_label" />

        <activity android:name=".VaccinesList"
            android:label="@string/vaccines_label" />

        <activity android:name=".VacInfo"
            android:label="@string/vac_info_label" />

        <activity android:name=".Statistics"
            android:label="@string/stat_label"/>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.VAC" />
            </intent-filter>
        </receiver>

    </application>

</manifest>